# Gradle
.gradle/

# Dropwizard
build/
logs/
configuration.yaml


# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
classes/

# Mac OS X
.DS_Store

# Build Properties
build.properties

# Integration Tests Configuration
**/configuration.json

# Python Compiled Bytecode
*.pyc

# key-pair
*.cer
*.keystore
*.truststore

# virtual_len
**/virtual_env/*